[submodule "sistem-web-dan-seluler/praktikum-web/pertemuan4/Oktayur-Project"]
	path = sistem-web-dan-seluler/praktikum-web/pertemuan4/Oktayur-Project
	url = https://github.com/fzlfade/Oktayur-Project.git
